<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置-->
    <settings>
        <!--启用驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--配置别名-->
    <typeAliases>
        <typeAlias type="com.kangec.wecome.infrastructure.pojo.User" alias="User"/>
        <typeAlias type="com.kangec.wecome.infrastructure.pojo.Chat" alias="Chat"/>
        <typeAlias type="com.kangec.wecome.infrastructure.pojo.Groups" alias="Groups"/>
    </typeAliases>
</configuration>